<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            🛡 CyberSafe
        </div>

        <ul class="nav-links">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/create-incident-page">Create Incident</a></li>
            <li><a href="/incidents-page">Incidents</a></li>
            <li><a href="/activity-logs-page">Activity Logs</a></li>
            <li><a href="/register-page">Register User</a></li>
            <li><a href="/login-page">Logout</a></li>
        </ul>

    </nav>

    <div class="hero">

        <h1>Cybersecurity Incident Reporting System</h1>

        <p>
            Report, monitor and manage cybersecurity incidents securely.
        </p>

    </div>

    <div class="card-container">

        <div class="card"
             onclick="window.location.href='/create-incident-page'">

            <h2>🛡</h2>

            <h3>Create Incident</h3>

            <p>Report a new cybersecurity incident.</p>

        </div>

        <div class="card"
             onclick="window.location.href='/incidents-page'">

            <h2>📋</h2>

            <h3>View Incidents</h3>

            <p>See all reported incidents.</p>

        </div>

        <div class="card"
             onclick="window.location.href='/activity-logs-page'">

            <h2>📜</h2>

            <h3>Activity Logs</h3>

            <p>Track all system activities.</p>

        </div>

    </div>

</body>
</html>