<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Cybersecurity Incident Reporting System</h1>

    <h2>Dashboard</h2>

    <hr>

    <h3>Welcome!</h3>

    <p>Select an option:</p>

    <button onclick="window.location.href='/create-incident-page'">
        Create Incident
    </button>

    <br><br>

    <button onclick="window.location.href='/incidents-page'">
        View Incidents
    </button>

<br><br>

<button onclick="window.location.href='/login-page'">
    Logout
</button>

</body>
</html>